@page "/"
@inject HttpClient Http
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-12 col-md-4 text-start">
        <h4>Kontaktuppgifter</h4>
        <p>Sörgårdsvägen 2<br>433 61, Sävedalen<br>0739631701<br><a href="mailto:johan.hultin99@gmail.com">johan.hultin99@gmail.com</a><br /> <a href="https://www.linkedin.com/in/johan-hultin-391a69346/" target="_blank">LinkedIn</a> </p>
        <b>Körkort</b>
        <p>B</p>
        <b>Födelsedatum</b>
        <p>1999-03-25</p>
        <b>Språk</b>
        <p>Svenska - Modersmål</p>
        <p>Engelska - Flytande</p>
    </div>

    <div class="col-12 col-md-8 text-start">
        <h4>Profil</h4>
        <p>
            Nyfiken och driven student som läser .NET Cloud Developer vid IT Högskolan i Mölndal sedan augusti 2024.
            En fascination för datorer och teknologi som suttit i sedan tidig barndom har utvecklats till en passion för problemlösning och systemutveckling,
            vilket gjort valet av karriär både självklart och inspirerande.
        </p>
        <p>
            Varje nytt område inom utbildningen har varit både spännande och roligt.
            Högsta betyg i kurser som; Programmering med C#, Databasutveckling och Webbutveckling ger mersmak.
        </p>
        <p>
            Erfarenheter från att arbeta i team, både som medarbetare och ledare, har utvecklat samarbets- och kommunikationsförmågan i en uppsjö miljöer.
            Med teknisk kompetens, engagemang och kreativitet är målet att bidra med lösningar som gör skillnad.
        </p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-12 col-md-6 text-start">
        <div class="card p-3 mb-3">
            <h4>Projekt</h4>
            <ul class="list-group"> 
                <li class="list-group-item">
                    <strong>API display</strong>
                    <p>
                        Ett .NET API kopplat mot en databas, 
                        ett Node API som get:ar innehållet av databasen från .NET API och displayar i en enkel frontend.
                        <br /><br />
                        Teknik som använts i projektet: Javascript, Node, HTML & CSS, Bootstrap, Microsoft Azure, Mongo DB, .NET, REST API
                    </p>
                </li>
                <li class="list-group-item">
                    <strong>Webbshop Fullstack</strong>
                    <p>
                        En webbsida innehållande information om ett fiktivt företag samt deras shop. 
                        Shopen är kopplad till ett API som lagrar ordrar i en databas. 
                        API:et har en enkel frontend för att tillåta de fiktiva medarbetarna att hantera beställningarna.
                        <br /><br />
                        Teknik som använts i projektet: Javascript, HTML & CSS, Bootstrap, Microsoft Azure, Mongo DB, .NET, REST API
                    </p>
                </li>
                <li class="list-group-item">
                    <strong>WPF Lagerhantering Bokhandel</strong>
                    <p>
                        WPF applikation som tillåter användaren att hantera en databas för en bokhandel med flera butiker.
                        Användaren kan; se en lista på befintliga butiker,se vald butiks lagersaldo,
                        ta bort och lägga till böcker från vald butiks lagersaldo,
                        ta bort och lägga till författare och titlar ur bokhandelns sortiment.
                        <br /><br />
                        Teknik som använts i projektet: .NET, Microsoft Azure, SQL
                    </p>
                </li>
                <li class="list-group-item">
                    <strong>WPF MVVM Beställningsportal</strong>
                    <p>
                        WPF applikation som tillåter användaren att; <br />
                        - skapa och makulera beställningar för kunder, <br />
                        - skapa och ta bort kunder, <br />
                        - se en lista på alla produkter, <br />
                        - befintliga kunder och befintliga kunders lagda beställningar. <br />
                        Kunder går att filtrera på namn, telefonnummer och kundnummer.
                        <br /> <br />
                        Teknik som använts i projektet: .NET
                    </p>
                </li>
                <li class="list-group-item">
                    <strong>Console Application Butik</strong>
                    <p>
                        En konsollapplikation där användaren kan registrera sig och logga in för att handla i 3 olika valutor. 
                        Kundvagn sparas för varje användare och produkterna är kopplade mot en databas. 
                        Applikationen har även tillgång till att lägga till samt ta bort produkter ur databasen.
                        <br /> <br />
                        Teknik som använts i projektet: .NET
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-12 col-md-6 text-start">
        <div class="card p-3 mb-3">
            <h4>Kompetens</h4>
            @if (Technologies.Count == 0)
            {
                <p>Laddar kompetenser...</p>
            }
            else
            {
                <ul class="list-group">
                    @foreach (var technology in Technologies)
                    {
                        <li class="list-group-item">
                            <strong>@technology.Name</strong><br />
                            Erfarenhet: @technology.YearsOfExperience år<br />
                            Kunskapsnivå: @technology.SkillLevel
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 text-start">
        <div class="card p-3 mb-3">
            <h4>Utbildning</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>IT Högskolan, Mölndal</strong>
                    <p>Augusti 2024 – Juni 2026</p>
                </li>
                <li class="list-group-item">
                    <strong>Sjölins Gymnasium, Göteborg</strong>
                    <p>Augusti 2015 – Juni 2018</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-12 text-start">
        <div class="card p-3 mb-3">
            <h4>Arbetslivserfarenhet</h4>
            <ul class="list-group">
                <li class="list-group-item"><strong>Säljare</strong>, Smarteyes, Synoptik Sweden AB, Göteborg (Feb 2024 - Aug 2024)</li>
                <li class="list-group-item"><strong>Ambulerande konsult, lager</strong>, Pokayoke AB, Göteborg (Aug 2023 - Feb 2024)</li>
                <li class="list-group-item"><strong>Entrévärd</strong>, Balambaras - Cocktailbar, Lounge & Nightclub (Maj 2022 - Juli 2023)</li>
                <li class="list-group-item"><strong>Säljare</strong>, Increment Security Group Gothia AB (Jan 2021 - Apr 2022)</li>
                <li class="list-group-item"><strong>Teamleader & Säljare</strong>, Abonnemangsbutiken, Göteborg (Aug 2020 - Dec 2020)</li>
                <li class="list-group-item"><strong>Egen Verksamhet</strong>, Actual High End, Göteborg (Aug 2019 - Aug 2020)</li>
                <li class="list-group-item"><strong>Teamleader & Säljare</strong>, MobileGroup Nordic AB, Göteborg (Aug 2018 - Sep 2019)</li>
                <li class="list-group-item"><strong>Låneförmedlare</strong>, Enklare Ekonomi Sverige AB, Göteborg (Maj 2018 - Aug 2018)</li>
                <li class="list-group-item"><strong>Medarbetare</strong>, McDonald's, Partille (Okt 2016 - Aug 2017)</li>
            </ul>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-12 text-center">
        <div class="card p-3 mb-3">
            <h4>Min GitHub-profil</h4>
            @if (GitHubData != null && !string.IsNullOrEmpty(GitHubData.login))
            {
                <img src="@GitHubData.avatar_url" alt="GitHub avatar" class="rounded-circle" width="150">
                <h3>@GitHubData.name (@GitHubData.login)</h3>
                <p>Publika repositories: @GitHubData.public_repos</p>
                <a href="@GitHubData.html_url" target="_blank" class="btn btn-primary">Besök min GitHub-profil</a>
            }
            else
            {
                <p>Laddar GitHub-profil...</p>
            }
        </div>
    </div>
</div>







@code {
    List<Technology> Technologies = new List<Technology>();
    GitHubProfile GitHubData = new GitHubProfile();

    protected override async Task OnInitializedAsync()
    {
        await LoadTechnologies();
        await LoadGitHubProfile();
    }

    public async Task LoadTechnologies()
    {
        Technologies = await Http.GetFromJsonAsync<List<Technology>>("https://localhost:7210/technologies");
    }

    public async Task LoadGitHubProfile()
    {
        try
        {
            var request = new HttpRequestMessage(HttpMethod.Get, $"https://api.github.com/users/johhul99");
            request.Headers.Add("User-Agent", "BlazorApp");

            var response = await Http.SendAsync(request);

            if (response.IsSuccessStatusCode)
            {
                GitHubData = await response.Content.ReadFromJsonAsync<GitHubProfile>();
            }
            else
            {
                Console.WriteLine($"GitHub API gav fel: {response.StatusCode}");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Kunde inte hämta GitHub-profil: {ex.Message}");
        }
    }


    public class Technology
    {
        public string Id { get; set; }
        public string Name { get; set; }
        public int YearsOfExperience { get; set; }
        public string SkillLevel { get; set; }
    }

    public class GitHubProfile
    {
        public string login { get; set; }
        public string avatar_url { get; set; }
        public string html_url { get; set; }
        public string name { get; set; }
        public int public_repos { get; set; }
    }
}